.idea/
mmorpg/mmorpg/__pycache__/
mmorpg/login/__pycache__/
mmorpg/mainpage/__pycache__/
mmorpg/register/__pycache__/
*.pyc
*.old
*/.DS_Store
website/templates/registration/.goutputstream-DUX7W0
website/core/migrations/
