.container1 {
    width: 390px;
    height: 550px;
    background-color: rgba(0,0,0,0.5);
    margin: 150px auto 0 auto;
    text-align: center;
    border: 4px solid white;
    border-radius: 8px;
}

.container1 img {
    width: 120px;
    height: 110px;
    margin: -50px 0 15px 0;
    border: 4px solid white;
    border-radius: 50%;
}

.dvs-submit1 {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    background-color: #609ab6;
    border: solid white;
    font-family: Casanova;
    font-size: 20px;
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

.dvs-submit1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.dvs-submit1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.dvs-submit1:hover span {
  padding-right: 25px;
}
.dvs-submit1:hover span:after {
  opacity: 1;
  right: 0;
}