{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}
{% block content %}
    <h2>Log in to My Site</h2>
    {% if form.errors %}
        <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
                <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
        {% endfor %}
        <button type="submit">Log in</button>
        <p><a href="{% url 'signup' %}">New to My Site? Sign up</a></p>
        <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
    </form>

    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            </button>
        </div>
    </div>
{% endblock %}