{% extends "base.html" %}

{% block content %}
    <style>
    table
    {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th
    {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even)
    {
        background-color: #dddddd;
    }
    </style>

    <body>
        <h2>Statistics</h2>

        <a href="javascript:toggleVisibility('statsTable');">My stats</a> / <a href="javascript:toggleVisibility('bestPlayersTable');" onclick="top_players_all()" id="bestPlayers">Best players</a> / <a href="javascript:toggleVisibility('findPlayerForm');">Find player</a>

        <form action="" style="display: none" method="POST" id="findPlayerForm">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        <hr>
        <h5>
            <a href ="{% url 'player_stats' user.username %}">
                {{ user.username }} - Twoje statystyki - KLIK
            </a>
        </h5>
        <br>

        <h5>Twoje ostatnie 5 gier:</h5>
        {% if last_games %}
            <table style="display: block" id="statsTable">
                <tr>
                    <th>Zdobyte punkty</th>
                    <th>Twoja drużyna</th>
                    <th>Punkty drużyny</th>
                    <th>Mapa</th>
                    <th>Wygrałes?</th>
                </tr>
                {% for row in last_games %}
                <tr>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>
                        {% if row.5 == 1 %}
                        WYGRALES
                        {% else %}
                        :c
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <hr><br>

        <h5>Top 10 Graczy</h5>

        {% if stats %}
            <table style="display: block" id="statsTable">
                <tr>
                    <th>Player Id</th>
                    <th>Username</th>
                    <th>Games Won</th>
                    <th>Percent Won</th>
                    <th>Average points</th>
                    <th>Team contribution</th>
                </tr>
                {% for row in stats %}
                <tr>
                    <td>hiddn</td>
                    <td >
                        <a href ="{% url 'player_stats' row.1 %}">{{row.1}}</a>
                    </td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                    <td>{{row.5}}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <br>

        <h5>Mapy:</h5>

        {% if maps %}
            <table style="display: block" id="statsTable">
                <tr>
                    <th>Map</th>
                    <th>Games played</th>
                    <th>Average time</th>
                    <th>Highest points</th>
                    <th>Average points</th>
                </tr>
                {% for row in maps %}
                <tr>
                    <td >
                        <a href ="{% url 'map_stats' row.0 %}">{{row.0}}</a>
                    </td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                </tr>
                {% endfor %}
            </table>
    {% endif %}

    <script>
        function toggleVisibility(id)
        {
            const element = document.getElementById(id);
            if (element.style.display === "none")
            {
                element.style.display = "block";
            }
            else
            {
                element.style.display = "none";
            }
        }
    </script>
{% endblock %}
