{% extends "base.html" %}

{% block content %}
    <style>
    table
    {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th
    {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even)
    {
        background-color: #dddddd;
    }
    </style>

    <body>
        <h2>Statistics</h2>

        <a href="javascript:toggleVisibility('statsTable');">My stats</a> / <a href="javascript:toggleVisibility('bestPlayersTable');" onclick="top_players_all()" id="bestPlayers">Best players</a> / <a href="javascript:toggleVisibility('findPlayerForm');">Find player</a>

        <form action="" style="display: none" method="POST" id="findPlayerForm">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        {% if stats %}
            <table style="display: block" id="statsTable">
                <tr>
                    <th>Player Id</th>
                    <th>Username</th>
                    <th>Games Won</th>
                    <th>Percent Won</th>
                    <th>Average points</th>
                    <th>Team contribution</th>
                </tr>
                {% for row in stats %}
                <tr>
                    {% for item in row %}
                        <td> {{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        <br>

        {% if maps %}
            <table style="display: block" id="statsTable">
                <tr>
                    <th>Map</th>
                    <th>Games played</th>
                    <th>Average time</th>
                    <th>Highest points</th>
                    <th>Average points</th>
                </tr>
                {% for row in maps %}
                <tr>
                    <td>{{row.0}}</td>
                    <td>{{row.1}}</td>
                    <td>{{row.2}}</td>
                    <td>{{row.3}}</td>
                    <td>{{row.4}}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

    <script>
        function toggleVisibility(id)
        {
            const element = document.getElementById(id);
            if (element.style.display === "none")
            {
                element.style.display = "block";
            }
            else
            {
                element.style.display = "none";
            }
        }
    </script>
{% endblock %}
